pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.13.2
jieba==0.42.1
networkx==3.2.1
pyLDAvis==3.4.1
scikit-learn==1.4.1.post1
xgboost==2.0.3
shap==0.45.0
snownlp==0.12.3
openpyxl==3.1.2
requests==2.31.0
transformers==4.39.3
torch==2.3.0
tqdm==4.66.2
ipykernel==6.29.4
ipywidgets==8.1.2
